@using Ehome_BackEnd.Models
@model Brand
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div>
        <label class="mb-3">Brand name:</label><br />
        <input asp-for="Name" class="form-control" /><br />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Edit Brand</button>
    </div>
</form>

