@media only screen and (max-width: 1200px) {
  #headerbottom {
    height: 180px !important;
  }
  #headerbottom .row .bottom .col-lg-4 .search {
    display: none;
  }
  #headerbottom .row .col-lg-12 {
    display: block !important;
  }
  #herocategory .col-lg-12 .category {
    display: none;
  }
}
@media only screen and (max-width: 1331px) {
  #headertop .container .row .col-lg-4 {
    display: none !important;
  }
  #headertop .container .row .col-lg-7 {
    display: none !important;
  }
  #headertop .container .headertoptwo {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  #headertop .container .row .headertoptwo .col-lg-12 .comp ul li a {
    width: 15%;
    font-size: 8px;
  }
  #headerbottom {
    height: 180px !important;
  }
  #headerbottom .row .col-lg-4 .icon {
    margin-top: 12px;
  }
  #headerbottom .row .col-lg-4 .daily {
    margin-top: 12px;
  }
  #headerbottom .row .col-lg-4 .daily span {
    font-size: 8px;
  }
  #headerbottom .row .col-lg-4 .daily p {
    font-size: 6px;
  }
  #headerbottom .row .col-lg-4 .phone {
    margin-top: 12px;
  }
  #headerbottom .row .col-lg-4 .phone a {
    width: 20%;
  }
  #headerbottom .row .col-lg-4 .phone a p {
    font-size: 9px;
    margin-top: 8px;
  }
}
@media only screen and (min-width: 992px) {
  #headerbottom .row .menubarin {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  #headerbottom {
    height: 180px !important;
  }
  #headerbottom .row .bottom .col-lg-4 .search {
    display: none;
  }
  #headerbottom .row .bottom .col-lg-4 .sign ul li {
    display: none;
  }
  #headerbottom .row .bottom .col-lg-4 .sign ul li:last-child {
    display: block;
  }
  #headerbottom .row .bottom .col-lg-4 .sign ul li:first-child {
    display: block;
  }
  #headerbottom .row .col-lg-12 {
    display: block !important;
  }
}
#headertop {
  width: 100%;
  background-color: #40484e;
}
#headertop .row .about ul {
  padding-left: 0;
}
#headertop .row .about ul li {
  list-style: none;
}
#headertop .row .about ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#headertop .row .col-lg-7 {
  padding: 0;
  padding-right: 0;
}
#headertop .row .comp {
  width: 100%;
}
#headertop .row .comp ul {
  padding: 0;
}
#headertop .row .comp ul li {
  list-style: none;
}
#headertop .row .comp ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#headertop .row .comp ul li img {
  -o-object-fit: cover;
     object-fit: cover;
}
#headertop .headertoptwo {
  display: none;
}

.container {
  width: 76%;
}

#headerbottom {
  padding-top: 20px;
  height: 80px;
}
#headerbottom .row .search input {
  border: none;
  border-bottom: 1px solid black;
}
#headerbottom .row .search a {
  text-decoration: none;
}
#headerbottom .row .search a i {
  color: grey;
}
#headerbottom .row .menubarin {
  position: fixed;
  width: 100%;
  gap: 0;
  left: -100%;
  top: 180px;
  z-index: 10000;
  overflow-y: scroll;
  height: 100%;
}
#headerbottom .row .menubarin .top {
  width: 100%;
  background-color: #40484e;
}
#headerbottom .row .menubarin .top ul {
  padding-left: 0px;
}
#headerbottom .row .menubarin .top ul li {
  border-bottom: 2px solid #989ca0;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
}
#headerbottom .row .menubarin .top ul li a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
#headerbottom .row .menubarin .top ul:last-child {
  background-color: white;
  padding-left: 0px;
}
#headerbottom .row .menubarin .top ul:last-child li {
  border-bottom: 2px solid #989ca0;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}
#headerbottom .row .menubarin .top ul:last-child li a {
  font-size: 14px;
  text-decoration: none;
  color: #40484e;
  font-weight: 500;
}
#headerbottom .row .menubarin.active {
  transition: 0.7s ease-in-out;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}
#headerbottom .row .daily span {
  display: block;
  max-width: 50px;
  font-size: 13px;
  font-weight: 450;
}
#headerbottom .row .daily p {
  max-width: 50px;
  font-size: 8px;
}
#headerbottom .row .phone a {
  text-decoration: none;
  color: red;
  font-weight: 400;
  font-size: 25px;
}
#headerbottom .row .sign ul li {
  padding-top: 15px;
  list-style: none;
}
#headerbottom .row .sign ul li a {
  text-decoration: none;
  color: #212529;
  font-size: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-weight: bold;
}
#headerbottom .row .sign ul li a i {
  position: relative;
  color: grey;
  font-size: 22px;
  margin-right: 10px;
}
#headerbottom .row .sign ul li a i .sub {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #49bd68;
  border-radius: 50px;
  bottom: 15px;
  left: 15px;
}
#headerbottom .row .sign ul li a i .sub sub {
  position: absolute;
  text-align: center;
  align-content: center;
  color: whitesmoke;
  font-size: 12px;
  bottom: 10px;
  right: 6.5px;
}
#headerbottom .row .sign ul li:last-child {
  display: none;
}
#headerbottom .row .sign ul li:first-child {
  display: none;
}
#headerbottom .col-lg-12 {
  display: none;
  width: 100%;
}
#headerbottom .col-lg-12 .searchtwo {
  width: 100%;
  background-color: #f5f5f5;
}
#headerbottom .col-lg-12 .searchtwo input {
  padding: 8px;
  width: 100%;
  border: none;
}
#headerbottom .col-lg-12 .searchtwo a {
  text-decoration: none;
}
#headerbottom .col-lg-12 .searchtwo a i {
  font-size: 20px;
  color: black;
}

#herocategory {
  padding-top: 20px;
}
#herocategory .category ul {
  padding-left: 0px;
}
#herocategory .category ul li {
  list-style: none;
}
#herocategory .category ul li a {
  text-decoration: none;
  color: #212529;
  font-size: 15px;
  font-weight: 600;
}
#herocategory .category ul li:hover {
  border-bottom: 2px solid #212529;
}

#slider .slide .carousel-control-prev {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #49bd68;
  margin-top: 19%;
  margin-left: 30px;
  display: none;
}
#slider .slide .carousel-control-prev .carousel-control-prev-icon {
  color: white;
  font-size: 25px;
  margin-top: 3%;
  margin-right: 6%;
}
#slider .slide .carousel-control-next {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #49bd68;
  margin-top: 19%;
  margin-right: 30px;
  display: none;
}
#slider .slide .carousel-control-next .carousel-control-next-icon {
  color: white;
  font-size: 25px;
  margin-top: 3%;
  margin-left: 6%;
}
#slider .slide:hover .carousel-control-prev {
  display: block;
}
#slider .slide:hover .carousel-control-next {
  display: block;
}/*# sourceMappingURL=header.css.map */