#register{
    padding-top: 40px;
    padding-bottom: 40px;
    .registermain{
        box-shadow: 0px 1px 13px 2px rgba(73,189,104,0.79);
        -webkit-box-shadow: 0px 1px 13px 2px rgba(73,189,104,0.79);
        -moz-box-shadow: 0px 1px 13px 2px rgba(73,189,104,0.79);
        text-align: center;
        .head{
            h4{
                color: #49bd68;
                font-size: 35px;
                letter-spacing: 2px;
            }
        }
        .registerinputs{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            input{
                padding: 10px;
            }
        }
        .daxil{
            button{
                width: 300px;
                padding: 10px;
                border: none;
                background-color: #49bd68;    
                border-radius: 5px;
                a{
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 500;
                    color: white;
                }
            }
            p{
                font-size: 18px;
                margin-top: 10px;
                color: black;
                font-weight: 500;
                a{
                    text-decoration: none;
                    color: #49bd68;
                }
            }
        }
    }
}