@using Ehome_BackEnd.Models
@model Campaing

@{
    ViewData["Title"] = "Detail";
}
<div class="ms-3">
    <div>
        <h4>
            Id
        </h4>
        <p>
            @Model.Id
        </p>
    </div>
    <div>
        <h4>
            Image
        </h4>
        <p>
            <img style="width: 400px; height:140px" src="~/assets/IMG/kampaniya-image/@Model.Image"/>
        </p>
    </div>
    <div>
        <h4>
            Title
        </h4>
        <p>
            @Model.Title
        </p>
    </div>
    <div>
        <h4>
            Subtitle
        </h4>
        <p>
            @Model.Subtitle
        </p>
    </div>
</div>

