@using Ehome_BackEnd.ViewModels.AccountVM
@model AccountVM

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container"> 
        <h2 style="color:#49bd68;">Şifrənizi dəyişin</h2>
        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
        <form method="post">
            <div>
                <label style="color:#49bd68;" asp-for="PassWord">Yeni şifrənizi yazın</label><br />
                <input asp-for="PassWord" class="form-control" />
            </div>
            <div class="d-none">
                <input asp-for="AppUser.Email" class="form-control" />
                <input asp-for="Token" class="form-control" />
            </div>
            <div>
                <label style="color:#49bd68;" asp-for="ConfirmPassword">Təkrar yeni şifrənizi yazın</label><br />
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>
            <button type="submit" class="btn btn-outline-success mt-2">Şifrəni dəyiş</button>
        </form>
</div>

